{% extends "planetaryPage.html" %}

{% block image %} 
<img src="{{ url_for('static', filename = 'css/images/earth.jpg') }}" />
{% endblock %}
{% block distance %}
	 149.6 million km
{% endblock %}
{% block fact %}
	Being the home of humanity and the only life in the universe that we know of
{% endblock %}
{% block content %}
	<p>With water covering 70% of the surface and an oxygen rich atmosphere, Earth contains the perfect conditions for life as we know it to form. Home to nearly 8 billion human Earth contains many different cultures and many different species of animals and plants. With an Earth day lasting 24 hours but an Earth year lasting roughly 365.25 days, every fourth year an extra day is added on to account for the extra time making it a leap year.</p>
{% endblock %}}

