{% extends "planetaryPage.html" %}

{% block image %} 
<img src="{{ url_for('static', filename = 'css/images/jupiter.jpg') }}" />
{% endblock %}
{% block distance %}
	 778.6 million km
{% endblock %}
{% block fact %}
	Being the largest planet in our solar system and having a storm resulting in a 'great red spot'.
{% endblock %}
{% block content %}
	<p>Jupiter is the largest planet in our solar system with a diameter of 142984 kilometers, over 10 times that of Earths. Jupiter also has 63 moons orbiting it, in part due to its massive size. The great red spot on Jupiter is actually a storm that has been going on for over 300 years and since the planet was discovered and is big enough to contain 2 Earths.</p>
{% endblock %}}

