{% extends "planetaryPage.html" %}

{% block image %} 
<img src="{{ url_for('static', filename = 'css/images/mars.jpg') }}" />
{% endblock %}
{% block distance %}
	 227.9 million km
{% endblock %}
{% block fact %}
	Being the closest planet to Earth and the most likely for human expansion
{% endblock %}
{% block content %}
	<p>Mars is the seventh largest planet in the solar system with a radius of 2106 miles which is about half of Earths, Mars also only has about 37% of Earths gravity meaning if you jumped on Mars you'd go almost 3 times as high! A martian day is about 24.6 hours, however, a martian year lasts roughly 670 days. Mars is also home to the highest mountain in our solar system.</p>
{% endblock %}}

