{% extends "planetaryPage.html" %}

{% block image %} 
<img src="{{ url_for('static', filename = 'css/images/neptune.jpg') }}" />
{% endblock %}
{% block distance %}
	 4.4951 billion km
{% endblock %}
{% block fact %}
	Being the most distant planet in our solar system and having winds that reach up to 2100 km/h
{% endblock %}
{% block content %}
	<p>Neptune is the most distant body classified as a planet in our solar system. Despite being a gas giant, if you were able to actually stand on Neptune you'd notice that the gravity is very similar to Earths. This is because Neptunes gravity is actually only 17% stronger than Earths which is the closest in the solar system, despite being so vastly different otherwise in size and density.</p>
{% endblock %}}

