{% extends "planetaryPage.html" %}

{% block image %} 
<img src="{{ url_for('static', filename = 'css/images/pluto.jpg') }}" />
{% endblock %}
{% block distance %}
	 5.9064 billion km
{% endblock %}
{% block fact %}
	Being the smallest dwarf planet and losing it's official planetary status in 2006
{% endblock %}
{% block content %}
	<p>Far and away, literally, Pluto is the most controversial 'planet' in the solar system. Discovered in 1930 Pluto used to be considered a planet up until multiple other similar sized objects were found in orbit leading to Pluto, alongside Eris and Ceres to be classified as 'Dwarf Planets'. The distance Pluto is from the sun leads to the average temperature hovering around -215 degrees Celsius, in comparison the coldest temperature ever on earth (not the average) was -89 degrees Celsius.</p>
{% endblock %}}

