{% extends "planetaryPage.html" %}

{% block image %} 
<img src="{{ url_for('static', filename = 'css/images/uranus.jpg') }}" />
{% endblock %}
{% block distance %}
	 2.8725 billion km
{% endblock %}
{% block fact %}
	Being the coldest planet in the solar system
{% endblock %}
{% block content %}
	<p>Uranus is the seventh furthest planet from the sun and the third largest planet in the solar system. Uranus is also the coldest planet in the solar system with temperatures reaching as low as -224 degrees celsius. This is because Uranus doesn't have a core that gives off much heat like other planets due to it being cooled by its atmosphere so much. Uranus also is well known for orbiting the sun on its side which leads to seasons lasting one day, which on Uranus, due to the north pole facing the sun, is 42 years.</p>
{% endblock %}}

