{% extends "planetaryPage.html" %}

{% block image %} 
<img src="{{ url_for('static', filename = 'css/images/venus.jpg') }}" />
{% endblock %}
{% block distance %}
	 108.2 million km
{% endblock %}
{% block fact %}
	Being by far the hottest planet in the solar system.
{% endblock %}
{% block content %}
	<p>Despite only being the second closest planet to the Sun, due to its incredibly dense atmosphere which has 90 times the atmospheric pressure of Earth which helps it retain heat, with an mean temperature of 464 degrees Celsuis, Venus is by far the hottest planet in the solar system. Venus is also the closest planet to Earth and the second brightest (natural) object in Earths night sky.</p>
{% endblock %}}

